.copyr {
  position: absolute;
  bottom: 0px;
  text-align: center;
  width: 100%;
}
body {
  width: 100%;
  line-height: 1.4;
}
.form-control {
  height: 40px !important;
  border-radius: 4px;
}
.loginPage {
  width: 350px;
  max-height: 100vh;
  background-color: #efefef;
  margin: auto;
  margin-top: 120px;
  border-radius: 2px;
  box-shadow: 5px 6px 5px 6px #bdbbbb;
  text-align: left;
}
.btn-login {
  width: 100%;
  background-color: #1773db !important;
  height: 45px;
  /* width: 100px; */
  border-radius: 4px;
  color: #fff !important;
}
button:hover {
  background-color: #0480b9 !important;
  box-shadow: 1px;
  color: #fff;
}

.errwrap {
  text-align: center;
}

.error {
  font-size: 12px;
  margin: auto;
  color: #ff3361;
}

.show {
  display: block;
}

.hide {
  display: none;
}
.signupPage {
  width: 350px;
  background-color: #efefef;
  padding: 10px;
  margin: auto;
  margin-top: 5vh;
  border-radius: 2px;
  box-shadow: 5px 10px 5px 10px #888888;
  text-align: left;
}
.homeHead {
  position: fixed;
  top: 0;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(248, 249, 250, 0.95);
  font-size: 1.5em;
}
* {
    font-family: arial;
  }
  
  /** float container */
  /* .float-container {
    border: solid 1px #ccc;
    box-sizing: border-box;
    margin-bottom: 8px;
    padding: 0 8px;
    position: relative;
    width: 300px;
  } */
    /* input {
      border: none;
      font-size: 16px;
      outline: 0;
      padding: 16px 0 10px;    
      width: 100%;
    } */
  
    .prod-box{
      background-color: #e5f0f0;
    }
   a{
      text-decoration: none !important;
      /* color: #000 !important; */
    }
    .font-14{
      font-size: 14px;
    }
  
    .font-22{
      font-size: 22px;
    }
  
    .font-19{
      font-size: 19px;
    }
    .acolor{
      color: rgb(56, 55, 55) !important;
    }
    .prod-box a:hover {
      background-color: rgb(234, 240, 237);
      color: #555;
      font-size: 1.3em;
    }
  
    .calculatorwrapper {
      width: 100%;
      height: 85vh;
      background-color: #fff;
      text-align: center;
      top: 0;
      position: relative;
  }
  .calculatorHead {
    color:#3f5757;
    text-align: left;
    font-style: italic;
    padding-left: 10px;

}

.calculatorPage {
    width: 250px;
    height: 400px;
    background-color: #efefef;
    margin: auto;
    margin-top: 14vh;
    border-radius: 2px;
    box-shadow: 2px 5px 2px 5px #888888;
    /* text-align: auto; */
}

.calculatorScreen {
    width: 154px;
    height: 40px;
    border: 4px solid gray;
    padding: 20px;
    margin: auto;
    border-radius: 4px;
    background-color: rgb(252, 250, 250);
}

.calcbutton {
  width: 50px;
  height: 30px;
  padding: 6px 5px;
  font-size: 1em;
  margin: 5px;
  border: 1px thin gray;
  background-color: #3f5757;
  border-radius: 4px;
  color: #fff;
  display: inline-block;
  box-shadow: 2px 2px 2px #bdbbbb 
}
.calcbutton:hover {
  background-color: #314b4b !important;
  box-shadow: 1px;
  font-size: 1.2em;

}

.equalto {
  width: 115px ;
}