.copyr {
  position: absolute;
  bottom: 0px;
  text-align: center;
  width: 100%;
}
body {
  width: 100%;
  line-height: 1.4;
}
.form-control {
  height: 40px !important;
  border-radius: 4px;
}
.loginPage {
  width: 350px;
  max-height: 100vh;
  background-color: #efefef;
  margin: auto;
  margin-top: 120px;
  border-radius: 2px;
  box-shadow: 5px 6px 5px 6px #bdbbbb;
  text-align: left;
}
.btn-login {
  width: 100%;
  background-color: #1773db !important;
  height: 45px;
  /* width: 100px; */
  border-radius: 4px;
  color: #fff !important;
}
button:hover {
  background-color: #0480b9 !important;
  box-shadow: 1px;
  color: #fff;
}

.errwrap {
  text-align: center;
}

.error {
  font-size: 12px;
  margin: auto;
  color: #ff3361;
}

.show {
  display: block;
}

.hide {
  display: none;
}
.signupPage {
  width: 350px;
  background-color: #efefef;
  padding: 10px;
  margin: auto;
  margin-top: 5vh;
  border-radius: 2px;
  box-shadow: 5px 10px 5px 10px #888888;
  text-align: left;
}
.homeHead {
  position: fixed;
  top: 0;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(248, 249, 250, 0.95);
  font-size: 1.5em;
}
* {
    font-family: arial;
  }
  
  /** float container */
  /* .float-container {
    border: solid 1px #ccc;
    box-sizing: border-box;
    margin-bottom: 8px;
    padding: 0 8px;
    position: relative;
    width: 300px;
  } */
    /* input {
      border: none;
      font-size: 16px;
      outline: 0;
      padding: 16px 0 10px;    
      width: 100%;
    } */
  
    .prod-box{
      background-color: #fafafa;
      height: 150px;
    }
   /* a{
      text-decoration: none !important;
      color: #000 !important;
    } */
    .font-14{
      font-size: 14px;
    }
  
    .font-22{
      font-size: 22px;
    }
  
    .font-19{
      font-size: 19px;
    }
    .acolor{
      color: rgb(56, 55, 55) !important;
    }
  
    .calculatorwrapper {
      width: 100%;
      height: 85vh;
      background-color: #fff;
      text-align: center;
      top: 0;
      position: relative;
  }
  .calculatorHead {
    color:#3f5757;
    text-align: left;
    font-style: italic;
    padding-left: 10px;

}

.calculatorPage {
    width: 250px;
    height: 400px;
    background-color: #efefef;
    margin: auto;
    margin-top: 14vh;
    border-radius: 2px;
    box-shadow: 2px 5px 2px 5px #888888;
    /* text-align: auto; */
}

.calculatorScreen {
    width: 154px;
    height: 40px;
    border: 4px solid gray;
    padding: 20px;
    margin: auto;
    border-radius: 4px;
    background-color: rgb(252, 250, 250);
}

.calcbutton {
  width: 50px;
  height: 30px;
  padding: 6px 5px;
  font-size: 1em;
  margin: 5px;
  border: 1px thin gray;
  background-color: #3f5757;
  border-radius: 4px;
  color: #fff;
  display: inline-block;
  box-shadow: 2px 2px 2px #bdbbbb 
}
.calcbutton:hover {
  background-color: #314b4b !important;
  box-shadow: 1px;
  font-size: 1.2em;

}

.equalto {
  width: 115px ;
}
.logoImg{
  width: 100px;
  height: 40px;
}
.navWrapper{
  background-color: #CB106A;
  /* rgb(187, 25, 60); */
  height: 50px;
  padding: 10px;
}
li{
  list-style-type: none;
  display: inline;
}

a{
  text-decoration: inherit !important;
  color: #fff !important; 
}
.brandLogo{
  font-size: 16px;
  font-weight: 700;
}
.itemImg{
  width: 100%;
  height: 175px !important;
}
.card-image{
  width: 98%px;
  /* height: 195px */
}
.card{
  width: 100%;
  /* float: left; */
  height: 250px;
  margin: auto !important;
  /* margin: 5px; */
}
.card .card-image .card-title{
  color: black;
  font-weight: 400
}
.cart{
  margin-top:40px;
}
.collection .collection-item{
  display: flex;
}
.collection-item.avatar .title {
  font-size: 20px;
  font-weight: 500;
  color: #ee6e73;
  display: block;
  margin-bottom: 10px;
  
}
.cart-wrap img{
  height: 200px !important
}
.collection .collection-item img{
  width: 100%;
  margin-right: 25px;
}
.item-desc{
  /* align-self:center; */
}
.card-title{
  font-weight: 800;
  font-size: 14px;
}
.viewImage{
  width: 90%;
  height: 150px;
}
.viewBody {
  background-color: #fff;
  max-width: 400px;
  max-height: 100%;
  margin: auto !important;
  align-content: center;
  border-radius: 10px;
  overflow: auto !important;
}
 .close {
  position: relative;
  /* left: -28%; */
  font-weight: 600;
  top: 18px;
  color: red !important;
  cursor: pointer;
  margin-right: 10px
} 
/* #basic-nav-dropdown{
  color: #000 !important
}
.dropdown-menu{
  color: #000 !important
} */
.navBack{
  background-color: rgb(13, 117, 168);
  margin-bottom: 50px !important;
 /* position: fixed !important; */
 /* width: 100vw */
}
.text-color-black{
  color: #000 !important
}
.nav-link{
  color: #fff !important
}
.btn-view{
  /* background-color: #CB106A !important; */
  background-color: #fff !important;
  border: 1px solid rgb(13, 117, 168) !important;
  color: #CB106A !important;
  font:10px !important;
  /* height:25px !important; */
}
.btn-view:hover{
  background-color: rgb(13, 117, 168) !important;
  color: #fff !important;
  
}
.black{
  color: rgb(16, 68, 94) !important;
}
.img-put{
  background-image: url (var (--homeCardImage) );
  height: 100%;
  text-align: center; 
  vertical-align: middle;
  padding-top: 100;
  color: #fff
}
.img-linkdiv{
  height: 300px;

}
.footerWrap{
  background-color: #f5f5f5;
}
.showView{
  position: fixed !important;
                top: 10px !important;
                width: 100% !important;
                height: 100vh !important;
                background-color: rgba(0, 0, 0, 0.7) !important;
                z-index: 200 !important;
                
}
.add-remove{
cursor: auto !important; 
}
.qty-border{
  border: 1px solid #8888;
  /* width: 50px !important; */
  border-radius: 4px;
}
.kids-page, .women-page, .men-page{
  margin-top: 70px;
}