body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.navWrapper{
  background-color: #CB106A;
  /* rgb(187, 25, 60); */
  height: 50px;
  padding: 10px;
}
li{
  list-style-type: none;
  display: inline;
}

a{
  text-decoration: inherit !important;
  color: #fff !important;
}
.brandLogo{
  font-size: 16px;
  font-weight: 700;
}
.itemImg{
  width: 100%;
  height: 175px !important;
}
.card-image{
  width: 98%px;
  /* height: 195px */
}
.card{
  width: 100%;
  /* float: left; */
  height: 230px;
  margin: auto !important;
  /* margin: 5px; */
}
.card .card-image .card-title{
  color: black;
  font-weight: 400
}
.cart{
  margin-top:40px;
}
.collection .collection-item{
  display: flex;
}
.collection-item.avatar .title {
  font-size: 20px;
  font-weight: 500;
  color: #ee6e73;
  display: block;
  margin-bottom: 20px;
  
}
.collection .collection-item img{
  width: 150px;
  margin-right: 25px;
}
.item-desc{
  align-self:center;
}
.card-title{
  font-weight: 800;
  font-size: 14px;
}
.viewImage{
  width: 90%;
  height: 200px;
}
.viewBody {
  background-color: #fff;
  width: 400px;
  height: 450px;
  margin: auto;
  align-content: center;
  border-radius: 20px;
}
 .close {
  position: relative;
  /* left: -28%; */
  font-weight: 600;
  top: 18px;
  color: red !important;
  cursor: pointer;
  margin-right: 10px
} 